<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stok Sayım listesi</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding >


  <ion-list *ngFor="let item of sayimsepetUrun">

    <ion-item>


      <ion-label>
        Urun Adı: {{item.urun.stok_adi}}

        <ion-item>
          <ion-label class="inputsol">Stok Kodu:
            <b>{{item.urun.stok_kodu}} </b>
          </ion-label>
          <ion-label>Urun Adedi:</ion-label>
          <ion-input type="number" [(ngModel)]="item.urun.stok_adet" clearInput></ion-input>
        </ion-item>
      </ion-label>


    </ion-item>
    <div class="item item-right">

    </div>

  </ion-list>
  <ion-label *ngIf="sayimsepetUrun.length==0"> <h1>Liste Boş </h1></ion-label>
  <button *ngIf="sayimsepetUrun.length!=0" ion-button block color="primary" (click)="kaydet()">kaydet</button>


</ion-content>